@import './_topbar_common';
@import './_topbar_menu';

.layout-topbar{
    background: transparent;

    .layout-topbar-left {
        .app-name {
            span {
                color: var(--v-topbar-text-color);
            }
        }

        .menu-button {
            color: var(--v-topbar-text-color);

            .menu-button-icon {
                background-color: var(--v-topbar-text-color);

                &:before, &:after {
                    background-color: var(--v-topbar-text-color);
                }
            }

            &:hover {
                background: var(--v-topbar-icon-hover-bg);
            }
        }

        .layout-topbar-main-menu {
            li {
                a {
                    color: var(--v-topbar-menu-text-color);

                    .active-bottom {
                        background: transparent;
                    }

                    &.topbar-active-menuitem-routerlink {
                        color: var(--v-topbar-menu-text-active-color);

                        .active-bottom {
                            background: var(--v-topbar-menu-text-active-color);
                        }
                    }
                }
            }

            .layout-topbar-menu {
                li {
                    a {
                        color: var(--v-menuitem-text-color);

                        &:hover {
                            background: var(--v-menuitem-hover-bg);
                        }

                        &:focus {
                            box-shadow: var(--v-menuitem-focus-shadow);
                        }
                    }
                }

                &.topbar-active-menuitem {
                    > ul {
                        background: var(--v-slim-submenu-bg);

                        li.topbar-active-menuitem {
                            > a {
                                font-weight: 700;
                            }
                        }

                        > li.topbar-active-menuitem {
                            background: var(--v-menuitem-submenu-bg);
                            color: var(--v-menuitem-text-color);
                            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
                        }
                    }
                }
            }
        }
    }

    .layout-topbar-right {
        .layout-topbar-actions {
            li {
                > ul {
                    background: var(--surface-ground);
                }

                &.search-item {
                    a {
                        background: var(--v-topbar-items-bg);
                        border: var(--v-topbar-items-border);

                        i {
                            color: var(--v-topbar-secondary-text-color);
                        }
                    }

                    .search-input-wrapper {
                        .p-inputtext {
                            background: var(--v-topbar-items-bg);
                            color: var(--v-topbar-menu-text-color);
                            border: var(--v-topbar-items-border);

                            &::placeholder {
                                color: var(--v-topbar-secondary-text-color);
                            }
                        }

                        i {
                            color: var(--v-topbar-secondary-text-color);
                        }
                    }
                }

                &.profile-item {
                    background: var(--v-topbar-items-bg);
                    border: var(--v-topbar-items-border);

                    .profile-container {
                        a {
                            background: var(--v-topbar-avatar-bg);
                            color: var(--v-topbar-avatar-text-color);
                        }

                        .name-container {
                            span {
                                &.name {
                                    color: var(--v-topbar-text-color);
                                }
                                &.job {
                                    color: var(--v-topbar-secondary-text-color);
                                }
                            }
                        }

                        i {
                            color: var(--v-topbar-text-color);
                        }
                    }

                    .profile-menu {
                        li {
                            a {
                                color: var(--text-color);

                                &:hover {
                                    background: var(--v-menuitem-hover-bg);
                                }

                                &:focus {
                                    box-shadow: var(--v-menuitem-focus-shadow);
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: $breakpoint - 1) {
    .layout-wrapper {
        .layout-topbar {
            .layout-topbar-left {
                .menu-button {
                    background: var(--v-menubutton-mobile-bg);
                    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
                    border-radius: 30px 0px 0px 0px;
                }
            }

            .layout-topbar-right {
                .layout-topbar-actions {
                    li {
                        &.search-item {
                            .search-input-wrapper {
                                .p-inputtext {
                                    color: var(--text-color);

                                    &::placeholder {
                                        color: var(--text-color);
                                    }
                                }

                                i {
                                    color: var(--text-color);
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
