@import './_topbar_common';
@import './_topbar_menu';

.layout-topbar {
    background: transparent;

    .layout-topbar-left {
        .app-name {
            span {
                color: var(--v-menuitem-text-color);
            }
        }

        .menu-button {
            .menu-button-icon {
                background-color: var(--v-menuitem-text-color-secondary);

                &:before, &:after {
                    background-color: var(--v-menuitem-text-color-secondary);
                }
            }

            &:hover {
                background: var(--surface-hover);
            }
        }

        .layout-topbar-main-menu {
            li {
                a {
                    color: var(--v-menuitem-text-color);

                    .active-bottom {
                        background: transparent;
                    }

                    &.topbar-active-route {
                        color: var(-v-menuitem-text-color);

                        .active-bottom {
                            background: var(--v-menuitem-text-color);
                        }
                    }
                }
            }

            .layout-topbar-menu {
                li {
                    a {
                        color: var(--v-menuitem-text-color);

                        &:hover {
                            background: var(--surface-hover);
                        }
                    }
                }

                &.topbar-active-menuitem {
                    > ul {
                        background: var(--surface-overlay);
                    }
                }
            }
        }
    }

    .layout-topbar-right {
        .layout-topbar-actions {
            li {
                > ul {
                    background: var(--surface-ground);
                }

                &.search-item {
                    a {
                        i {
                            color: var(--v-menuitem-text-color-secondary);
                        }
                    }

                    .search-input-wrapper {
                        .p-inputtext {
                            background: var(--v-topbar-items-bg);

                            &::placeholder {
                                color: var(--v-topbar-secondary-text-color);
                            }
                        }

                        i {
                            color: var(--v-topbar-secondary-text-color);
                        }
                    }
                }

                &.profile-item {
                    border: 2px solid var(--v-menuitem-text-color-secondary);
                    .profile-container {
                        > a {
                            color: var(--v-menuitem-text-color);
                        }

                        .name-container {
                            span {
                                &.name {
                                    color: var(--v-menuitem-text-color);
                                }
                                &.job {
                                    color: var(--v-menuitem-text-color-secondary);
                                }
                            }
                        }

                        i {
                            color: var(--v-menuitem-text-color-secondary);
                        }
                    }

                    .profile-menu {
                        li {
                            a {
                                color: var(--text-color);

                                &:hover {
                                    background: var(--v-menuitem-hover-bg);
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: $breakpoint - 1) {
    .layout-container {
        .layout-topbar {
            .layout-topbar-left {
                .menu-button {
                    background: var(--primary-color);
                    border-radius: 30px 0px 0px 0px;

                    .menu-button-icon {
                        background-color: var(--primary-color-text);
        
                        &:before, &:after {
                            background-color: var(--primary-color-text);
                        }
                    }
        
                    &:hover {
                        background: var(--primary-600);
                    }
                }
            }

            .layout-topbar-right {
                .layout-topbar-actions {
                    li {
                        &.search-item {
                            .search-input-wrapper {
                                .p-inputtext {
                                    color: var(--text-color);

                                    &::placeholder {
                                        color: var(--text-color);
                                    }
                                }

                                i {
                                    color: var(--text-color);
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
