$primaryColor: #00B9C6;
$primaryLightColor: #99e3e8 !default;
$primaryDarkColor: #00a7b2 !default;
$primaryDarkerColor: #00949e !default;
$primaryTextColor: #ffffff;

$highlightBg: #e6f8f9;
$highlightTextColor: $primaryDarkerColor;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
