@import '_common';

$contentBg: #F5F7FA;
$textColor: #495057 !default;
$textSecondaryColor:#7B8794 !default;
$dividerColor:#E4E7EB !default;
$linkColor: #1976D2 !default;
$overlayBg: #F4F5F7 !default;

//card
$cardBg: #ffffff !default;
$cardBorder: 0 none !default;
$cardShadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
