.layout-light {
    --v-body-bg: #ffffff;
    --v-menuitem-text-color-secondary: var(--text-color-secondary);
    --v-menuitem-text-color: var(--text-color);
    --v-menuitem-hover-bg: var(--surface-hover);
}