.layout-primary {
    --v-body-bg: linear-gradient(147.38deg, var(--primary-600) 0%, var(--primary-900) 100%);
    --v-menuitem-text-color-secondary: rgba(255, 255, 255, .7);
    --v-menuitem-text-color: var(--primary-color-text);
    --v-menuitem-hover-bg: rgba(255, 255, 255, .1);
}