<div class="px-5 min-h-screen flex justify-content-center align-items-center">
    <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7">
        <div class="mb-4">
            <div class="text-900 text-xl font-bold mb-2">VERONA</div>
            <span class="mb-4 line-height-3">Welcome to the <span class="font-bold">Verona Community</span>,<br/> where the magic happens, sign in to continue</span>
        </div>
        <div class="flex flex-column">
            <span class="p-input-icon-left w-full mb-4">
                <i class="pi pi-user"></i>
                <input type="text" pInputText class="w-full md:w-25rem" placeholder="Email Address">
            </span>
            <span class="p-input-icon-left w-full mb-4">
                <i class="pi pi-key"></i>
                <input type="text" pInputText class="w-full md:w-25rem" placeholder="Password">
            </span>
            <div class="flex flex-wrap gap-2 justify-content-between">
                <button pButton pRipple label="Sign In" class="flex-auto" [routerLink]="['/']"></button>
            </div>
        </div>
    </div>
</div>

