//general
$fontSize:14px !default;
$fontFamily:Lato, Helvetica, sans-serif !default;
$transitionDuration:.2s !default;
$animationDuration:.4s !default;
$animationTimingFunction:cubic-bezier(.05,.74,.2,.99) !default;
$letterSpacing:normal !default;
$borderRadius:4px !default;
$tabletBreakpoint:991px !default;
$phoneBreakpoint:576px !default;

//sidebar
$sidebarWidth: 14rem !default;
$slimSidebarWidth: 7rem !default;
