<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">ERROR</h1>
        <p class="text-color-secondary mb-4">Unexpected error happened. Resource is not available.</p>
        <img src="assets/demo/images/auth/error.svg" alt="error" class="mb-4 align-self-center">
        <button [routerLink]="['/']" pButton pRipple label="Go to Dashboard" ></button>
    </div>
</div>

<app-config [minimal]="true"></app-config>