/* consider remove , use highlight instead*/
$primaryColor:#9fd037;
$primaryTextColor:#ffffff;
$primaryDarkColor:#9fd037;

$inputFocusBorderColor:#9fd037;
$highlightBgColor:#9fd037;
$highlightTextColor:#ffffff;

@import '../sass/theme/_theme';