<div class="layout-topbar">
    <div class="layout-topbar-left">
        <a class="app-name" href="/">
            <img alt="main logo" src="assets/layout/images/logo-main.png" class="app-logo">
            <span>Verona</span>
        </a>

        <a href="#" class="menu-button" (click)="app.onMenuButtonClick($event)" *ngIf="!app.isSlim()">
            <span class="pi pi-bars"></span>
        </a>

        <ul class="topbar-menu">
            <li>
                <a [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}"
                   routerLinkActive="topbar-active-menuitem-routerlink">Sales
                    <span class="active-bottom"></span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/analytics']" routerLinkActive="topbar-active-menuitem-routerlink">Analytic
                    <span class="active-bottom"></span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/utilities/widgets']" routerLinkActive="topbar-active-menuitem-routerlink">Widgets
                    <span class="active-bottom"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="layout-topbar-right">
        <a href="#" id="user-display" (click)="app.onTopbarMenuButtonClick($event)">
            <span class="username">Samanta Owens</span>
            <span class="userrole">Admin</span>
            <img alt="main logo" src="assets/layout/images/avatar.png">
        </a>

        <ul class="topbar-profile-menu fadeInDown animated" [ngClass]="{'topbar-menu-visible': app.topbarMenuActive}">
            <li class="search-item">
                <div>
                    <input type="text" pInputText placeholder="Search"/>
                    <span class="pi pi-search"></span>
                </div>
            </li>
            <li #profile [ngClass]="{'menuitem-active':app.activeTopbarItem === profile}">
                <a href="#" (click)="app.onTopbarItemClick($event, profile)">
                    <i class="topbar-icon pi pi-fw pi-user"></i>
                    <span class="topbar-item-name">PROFILE</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-lock"></i>
                            <span>Privacy</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-cog"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #settings [ngClass]="{'menuitem-active':app.activeTopbarItem === settings}">
                <a href="#" (click)="app.onTopbarItemClick($event, settings)">
                    <i class="topbar-icon pi pi-fw pi-cog"></i>
                    <span class="topbar-item-name">SETTINGS</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-palette"></i>
                            <span>Change Theme</span>
                            <span class="topbar-submenuitem-badge">4</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-star"></i>
                            <span>Favorites</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-lock"></i>
                            <span>Lock Screen</span>
                            <span class="topbar-submenuitem-badge">2</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-image"></i>
                            <span>Wallpaper</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #messages [ngClass]="{'menuitem-active':app.activeTopbarItem === messages}">
                <a href="#" (click)="app.onTopbarItemClick($event, messages)">
                    <i class="topbar-icon material-icons animated swing pi pi-fw pi-envelope"></i>
                    <span class="topbar-item-name">MESSAGES</span>
                    <span class="topbar-badge animated rubberBand">4</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                            <img alt="avatar 1" src="assets/layout/images/avatar1.png" width="35">
                            <span>Give me a call</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                            <img alt="avatar 2" src="assets/layout/images/avatar2.png" width="35">
                            <span>Reports attached</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                            <img alt="avatar 3" src="assets/layout/images/avatar3.png" width="35">
                            <span>About your invoice</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                            <img alt="avatar 2" src="assets/layout/images/avatar2.png" width="35">
                            <span>Meeting today</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                            <img alt="avatar 4" src="assets/layout/images/avatar4.png" width="35">
                            <span>Out of office</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #notifications [ngClass]="{'menuitem-active':app.activeTopbarItem === notifications}">
                <a href="#" (click)="app.onTopbarItemClick($event, notifications)">
                    <i class="topbar-icon pi pi-fw pi-bell"></i>
                    <span class="topbar-item-name">NOTIFICATIONS</span>
                    <span class="topbar-badge animated rubberBand">2</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-sliders-h"></i>
                            <span>Pending tasks</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-calendar"></i>
                            <span>Meeting today</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-download"></i>
                            <span>Download</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-ticket"></i>
                            <span>Book flight</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
