<div class="layout-wrapper" [ngClass]="{'layout-menu-horizontal': app.menuMode === 'horizontal',
                                        'layout-menu-popup': app.menuMode === 'popup',
                                        'layout-menu-overlay': app.menuMode === 'overlay',
                                        'layout-menu-static': app.menuMode === 'static',
                                        'layout-menu-static-inactive': (app.menuMode == 'static' && menuActive === false),
                                        'p-input-filled': app.inputStyle === 'filled', 'p-ripple-disabled': !app.ripple}" (click)="onLayoutClick()">

    <app-topbar></app-topbar>

    <div class="layout-main">
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </div>

    <app-config></app-config>
</div>
