.login-body {
    height: 100vh;

    .login-panel {
        min-width: 30rem;
        background-color: $cardBg;
        border-radius: 14px;
        box-shadow:  0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);

        > span {
            color: $textSecondaryColor;

            span {
                color: $textColor;
            }
        }

        .p-button {
            color: #FFFFFF;
            background: #4C63B6;
            border: 1px solid #4C63B6;
            border-radius: 6px;
            font-weight: 700;
        }
    }
    > span {
        color: $menuitemTextColor;
    }
}

@media (max-width: $tabletBreakpoint) {
    .login-body {
        .login-panel {
            min-width: auto;
        }
    }
}
