html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding:0;
    margin:0;
    min-height: 100%;
    background-image: var(--v-body-bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    a {
        text-decoration: none;
    }
}

.layout-wrapper {
    background-image: var(--v-body-bg);
    min-height: 100vh;

    .layout-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        overflow: auto;
        height: calc(100% - 7rem);
        width: calc(100% - 14rem);
        margin-top: 7rem;
        border-top-left-radius: 30px;
        transition: var(--transition-duration);

        .layout-content {
            padding: 2rem;
            flex: 1 1 auto;
            background-color: var(--surface-ground);
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
        }
    }
}
