/* Error: Undefined variable.
 *   ,
 * 3 |     width: $sidebarWidth;
 *   |            ^^^^^^^^^^^^^
 *   '
 *   src/assets/layout/styles/layout/sidebar/_sidebar_vertical.scss 3:12  @import
 *   src/assets/layout/styles/layout/sidebar/_sidebar_theme.scss 1:9      @import
 *   src/assets/layout/styles/layout/layout.scss 12:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      width: $sidebarWidth;\a   \2502             ^^^^^^^^^^^^^\a   \2575 \a   src/assets/layout/styles/layout/sidebar/_sidebar_vertical.scss 3:12  @import\a   src/assets/layout/styles/layout/sidebar/_sidebar_theme.scss 1:9      @import\a   src/assets/layout/styles/layout/layout.scss 12:9                     root stylesheet";
}
