.layout-sidebar {
    display: flex;
    width: $sidebarWidth;
    height: calc(100% - 7rem);
    position: fixed;
    left: 0;
    top: 7rem;
    overflow: hidden;
    user-select: none;
    transition: transform $transitionDuration;

    .layout-menu-container {
        overflow: auto;
        flex: 1;
        padding: 1rem 1.5rem 1rem 1rem;

        .layout-menu {
            margin: 0;
            padding: 0;
            list-style-type: none;

            .layout-root-menuitem {
                > .layout-menuitem-root-text {
                    font-size: .857rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 1rem 0 .5rem 0;
                }

                > a {
                    display: none;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    border-radius: 7px;

                    a {
                        @include flex();
                        @include flex-align-center();
                        position: relative;
                        padding: .5rem;
                        margin-bottom: .25rem;
                        font-size: 1rem;
                        border-radius: 7px;
                        outline: 0 none;
                        cursor: pointer;
                        transition: background-color $transitionDuration, box-shadow $transitionDuration;

                        .layout-menuitem-icon {
                            font-size: 1.5rem;
                            margin-right: .5rem;
                        }

                        .layout-submenu-toggler {
                            font-size: 75%;
                            margin-left: auto;
                            transition: transform $transitionDuration;
                        }

                        &.rotated-icon {
                            .layout-menuitem-icon {
                                transform: rotate(90deg);
                            }
                        }

                        &.active-route {
                            font-weight: 700;
                        }
                    }
                }

                li {
                    &.active-menuitem {
                        > a {
                            .layout-submenu-toggler {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }

                ul {
                    overflow: hidden;
                    border-radius: $borderRadius;

                    li {
                        a {
                            padding-left: 1.5rem;
                        }

                        li {
                            a {
                                padding-left: 2.5rem;
                            }

                            li {
                                a {
                                    padding-left: 3.5rem;
                                }

                                li {
                                    a {
                                        padding-left: 4.5rem;
                                    }

                                    li {
                                        a {
                                            padding-left: 5.5rem;
                                        }

                                        li {
                                            a {
                                                padding-left: 6.5rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

