.layout-sidebar {
    background: transparent;

    .layout-menu {
        li {
            a {
                color: $menuitemTextColor;

                &:hover {
                    background: $menuitemHoverBg;
                }

                &:focus {
                    box-shadow: $menuitemFocusShadow;
                }
            }
        }

        .layout-root-menuitem {
            .layout-menuitem-root-text {
                color: $menuitemRootTextColor;
            }

            &.active-menuitem {
                background: $menuitemSubmenuBg;
                color: $menuitemTextColor;
            }

            .active-menuitem-routerlink {
                background: $menuitemActiveBg;
                color: $menuitemTextActiveColor;
            }

            > ul {
                > li.active-menuitem {
                    background: $menuitemSubmenuBg;
                    color: $menuitemTextColor;
                }

                > li .active-menuitem-routerlink {
                    background: $menuitemActiveBg;
                    color: $menuitemTextActiveColor;
                }
            }
        }
    }
}

@media screen and (max-width: $tabletBreakpoint + 1) {
    .layout-sidebar {
        .layout-menu {
            .layout-root-menuitem {
                &.active-menuitem {
                    background: transparent;
                }
            }
        }
    }
}
