@import './_topbar_common';

.layout-topbar{
    background: transparent;

    #menu-button {
        color: #ffffff;

        &:hover {
            background: $topbarIconHoverBg;
        }
    }

    #topbar-menu {
        background-color: $contentBg;
        border: solid 1px $contentBg;
    }
}

