.layout-topbar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    padding: 0 32px 0 0;
    position: fixed;
    width: 100%;
    z-index: 1000;

    #menu-button {
        height: 60px;
        width: 60px;
        line-height: 60px;
        display: inline-block;
        text-align: center;
        vertical-align:middle;
        @include transition(background-color .3s);

        span {
            font-size: 28px;
            line-height: inherit;
        }

        &.menu-button-active {
            span {
                font-size: 28px;
                line-height: inherit;
            }
        }
    }

    .logo {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 16px;
    }

    .app-name {
        display: inline-block;
        font-size: 28px;
        vertical-align: middle;
        margin-left: 8px;
        font-weight: bold;
        a {
            color: #ffffff;
        }
    }

    #user-display {
        display: block;
        float: right;
        color: #ffffff;
        position: relative;
        padding-top: 2px;
        text-align: right;
        margin-top: 10px;

        img {
            width: 32px;
            height: 32px;
            position: absolute;
            right: 0;
            top: 2px;
            @include border-radius(50%);
            @include transition(border-color .3s);
        }

        .username {
            margin-top: 1px;
        }

        span {
            display: block;
            margin-right: 48px;
        }
    }

    #topbar-menu {
        display: none;
        position: absolute;
        right: 32px;
        top: 60px;
        width: 250px;
        z-index: 1001;
        list-style-type: none;
        padding: 0;
        margin: 0;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);

        &.topbar-menu-visible {
            display: block;
        }

        li {
            a {
                padding: 10px 14px;
                display: block;
                color: $textColor;

                i {
                    display: inline-block;
                    vertical-align: middle;
                }

                span {
                    margin-left: 6px;
                    display: inline-block;
                    vertical-align: middle;
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                }

                .topbar-badge {
                    float: right;
                    background-color: red;
                    color: white;
                    padding: 2px 8px;
                    display: block;
                    margin-top: -2px;
                    @include border-radius($borderRadius);
                }
            }

            ul {
                list-style-type: none;
                padding: 0 0 0 15px;
                margin: 0;
                display: none;
            }

            &.menuitem-active {
                > ul {
                    display: block;
                }
            }

            &.search-item {
                div {
                    padding: 8px;
                    position: relative;

                    input {
                        padding: 6px 28px 6px 12px;
                        width: 100%;
                        @include box-sizing(border-box);
                        @include transition(border-color .3s);

                        &:focus {
                            outline: 0 none;
                        }
                    }

                    span {
                        position: absolute;
                        color: $textSecondaryColor;
                        top: 14px;
                        right: 16px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: $tabletBreakpoint) {
    .layout-topbar {
    }
}

@media (max-width: $phoneBreakpoint) {
    .layout-topbar {
    }
}
