.layout-topbar {
    height: 80px;
    padding: 0 2rem 0 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .layout-topbar-left {
        display: flex;
        justify-content: center;
        align-items: center;

        .app-name {
            display: flex;
            align-items: center;

            .app-logo {
                width: 40px;
            }

            span {
                font-size: 2rem;
                font-weight: 700;
                margin-left: .5rem;
            }
        }

        .menu-button {
            margin-left: 1.5rem;
            @include transition(background-color .3s);
            border-radius: 6px;
            padding: .5rem;

            span {
                font-size: 28px;
                line-height: inherit;
            }
        }

        .topbar-menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-left: 3rem;
            display: flex;
            flex-direction: row;

            li {
                display: flex;
                align-items: center;

                a {
                    padding: .25rem .75rem;
                    font-size: 1.5rem;
                    font-weight: 300;

                    .active-bottom {
                        width: 24px;
                        height: 2px;
                        display: block;
                        margin: auto;
                        margin-top: 4px;
                    }

                    &.topbar-active-menuitem-routerlink {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    #user-display {
        float: right;
        color: #ffffff;
        position: relative;
        padding-top: 2px;
        text-align: right;
        margin-top: 10px;

        img {
            width: 32px;
            height: 32px;
            position: absolute;
            right: 0;
            top: 2px;
            @include border-radius(50%);
            @include transition(border-color .3s);
        }

        .username {
            margin-top: 1px;
        }

        span {
            display: block;
            margin-right: 48px;
        }
    }

    .topbar-profile-menu {
        display: none;
        position: absolute;
        right: 32px;
        top: 60px;
        width: 250px;
        z-index: 1001;
        list-style-type: none;
        padding: 0;
        margin: 0;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);

        li {
            a {
                padding: 10px 14px;
                display: block;
                color: $textColor;

                i {
                    display: inline-block;
                    vertical-align: middle;
                }

                span {
                    margin-left: 6px;
                    display: inline-block;
                    vertical-align: middle;
                }

                img {
                    display: inline-block;
                    vertical-align: middle;
                }

                .topbar-badge {
                    float: right;
                    background-color: red;
                    color: white;
                    padding: 2px 8px;
                    display: block;
                    margin-top: -2px;
                    @include border-radius($borderRadius);
                }
            }

            ul {
                list-style-type: none;
                padding: 0 0 0 15px;
                margin: 0;
                display: none;
            }

            &.menuitem-active {
                > ul {
                    display: block;
                }
            }

            &.search-item {
                div {
                    padding: 8px;
                    position: relative;

                    input {
                        padding: 6px 28px 6px 12px;
                        width: 100%;
                        @include box-sizing(border-box);
                        @include transition(border-color .3s);

                        &:focus {
                            outline: 0 none;
                        }
                    }

                    span {
                        position: absolute;
                        color: $textSecondaryColor;
                        top: 14px;
                        right: 16px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: $tabletBreakpoint) {
    .layout-topbar {
    }
}

@media (max-width: $phoneBreakpoint) {
    .layout-topbar {
    }
}
