<div class="grid">
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card h-full p-0 overflow-hidden flex flex-column">
            <div class="flex align-items-center p-3">
                <i class="pi pi-comments text-6xl text-purple-500"></i>
                <div class="ml-3">
                    <span class="text-purple-500 block white-space-nowrap">INSCRITS AUJOURD'HUI</span>
                    <span class="text-purple-500 block text-4xl font-bold">{{applicationCount.totalApplicationCountForDay}}</span>
                </div>
            </div>
            <img [src]="'assets/demo/images/dashboard/interactions' + (colorScheme === 'light' ? '' : '-dark') + '.svg'" class="w-full mt-auto" alt="interactions">
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card p-0 overflow-hidden flex flex-column">
            <div class="flex align-items-center p-3">
                <i class="pi pi-users text-6xl text-blue-500"></i>
                <div class="ml-3">
                    <span class="text-blue-500 block white-space-nowrap">TOTAL DES CANDIDATS INSCRITS</span>
                    <span class="text-blue-500 block text-4xl font-bold">{{applicationCount.totalApplicationCount}}</span>
                </div>
            </div>
            <img [src]="'assets/demo/images/dashboard/users' + (colorScheme === 'light' ? '' : '-dark') + '.svg'" class="w-full" alt="utilisateurs">
        </div>
    </div>
    
    <div class="col-12 xl:col-6">
        <div class="card h-full">
            <div class="flex justify-content-between align-items-center mb-3">
                <h5>Aperçu des candidats par groupe d'âge</h5>
            </div>
            <div class="graph">
                <p-chart #overviewchart type="bar" [data]="overviewChartDataByAge" [options]="overviewChartOptions" height="400px"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card h-full">
            <div class="flex justify-content-between align-items-center mb-3">
                <h5>Aperçu des candidats par niveau d'éducation</h5>
            </div>
            <div class="graph">
                <p-chart #overviewchart type="bar" [data]="overviewChartDataByEducation" [options]="overviewChartOptions" height="400px"></p-chart>
            </div>
        </div>
    </div>
    
    <div class="col-12 md:col-6 lg:col-6" *ngIf="interestPercentages.length > 0">
        <div class="card h-full">
            <h5>Métier à Apprendre</h5>
    
            <div class="d-flex justify-content-between">
                <!-- Première colonne -->
                <div class="w-50">
                    <ul class="list-none m-0 p-0">
                        <li class="mb-4" *ngFor="let item of firstColumn">
                            <div class="flex align-items-center justify-content-between mb-2">
                                <span class="font-bold">{{ jobDescriptions[item.interest] || item.interest }}</span>
                                <span>{{item.percentage | number:'1.0-2'}}%</span>
                            </div>
                            <div class="border-round overflow-hidden surface-200" style="height:.5rem">
                                <div class="h-full {{item.color}}" [ngStyle]="{'width': item.percentage + '%'}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
    
                <!-- Séparateur -->
                <div class="divider">
                    <p-divider layout="vertical"></p-divider>
                </div>
    
                <!-- Deuxième colonne -->
                <div class="w-50">
                    <ul class="list-none m-0 p-0">
                        <li class="mb-4" *ngFor="let item of secondColumn">
                            <div class="flex align-items-center justify-content-between mb-2">
                                <span class="font-bold">{{ jobDescriptions[item.interest] || item.interest }}</span>
                                <span>{{item.percentage | number:'1.0-2'}}%</span>
                            </div>
                            <div class="border-round overflow-hidden surface-200" style="height:.5rem">
                                <div class="h-full {{item.color}}" [ngStyle]="{'width': item.percentage + '%'}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6 xl:col-6">
        <div class="card h-full">
            <div class="flex align-items-center justify-content-between mb-3">
                <h5 class="m-0">Aperçu Par Genre</h5>
            </div>
            <br><br>
            <div class="flex flex-column align-items-center justify-content-center">
                <p-chart type="doughnut" [data]="revenueChartData" [options]="revenueChartOptions" style="width: 100%; height: 100%;" class="mb-5"></p-chart>
            </div>
        </div>
    </div>

</div>
