<div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center" style="background: linear-gradient(147.38deg, #FFFFFF 0%, #86A8C0 100%);">
    <div class="px-5 min-h-screen flex justify-content-center align-items-center">
    <div class="border-1 surface-border surface-card shadow-2" style="border-radius: 14px">
        <div class="p-5 flex flex-column justify-content-center">
            <div class="text-900 text-2xl font-bold mb-2">ERROR</div>
            <span class="line-height-2 font-medium text-500">Unexpected error happened. Resource is not available.</span>
            <img src="assets/layout/images/pages/error.svg" alt="access-denied" class="mx-8 my-5" height="140">
            <button type="button" pButton label="Go to Dashboard" [routerLink]="['/']"></button>
        </div>
    </div>
</div>
