html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding:0;
    margin:0;
    height: 100%;
    background: $bodyBg;

    a {
        text-decoration: none;
        color: $linkColor;
    }
}

.layout-wrapper {
    min-height: 100%;

    .layout-content-wrapper {
        position: absolute;
        width: calc(100% - 16rem);
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        transition: all $transitionDuration;

        .layout-content {
            padding: 25px 25px 25px 25px;
            flex: 1 1 auto;
            background-color: $contentBg;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
        }
    }
}
