@media screen and (min-width: $tabletBreakpoint + 1) {
    .layout-wrapper {
        &.layout-static {
            .layout-content-wrapper {
                margin-left: $sidebarWidth;
            }
        }

        &.layout-static-inactive {
            .layout-topbar {
                .menu-button {
                    i:before {
                        content: "\e901";
                    }
                }
            }

            .layout-sidebar {
                transform: translateX(-100%);
            }

            .layout-content-wrapper {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $tabletBreakpoint) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-topbar {
            height: 6.857rem;
            @include flex-wrap(wrap);
            position: fixed;
            padding: 1rem;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 998;

            .layout-topbar-left {
                .app-name {
                    .app-logo {
                        width: 52px;
                    }

                    span {
                        display: none;
                    }
                }

                .menu-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    width: 4.5rem;
                    height: 4.5rem;
                    margin: 0;

                    span {
                        font-size: 30px;
                    }
                }

                .topbar-menu {
                    margin-left: 1rem;

                    li {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .topbar-right {
                width: 100%;
                padding: .5rem 0;
            }

            .topbar-profile-menu {
                @include flex-justify-between();

                > li {
                    margin-left: 0;

                    &.profile-item {
                        border-left: 0;
                        border-right: 0;
                        padding: 0;

                        > a {
                            padding: 0;
                        }

                        .profile-image {
                            width: 2rem;
                            height: 2rem;
                            margin: 0;
                        }

                        .profile-name {
                            display: none;
                        }
                    }

                    > ul {
                        top: 2.75rem;
                    }
                }
            }
        }

        .layout-content-wrapper {
            margin-left: 0;
            padding-top: 6.857rem;
            width: 100%;

            .layout-content {
                border-radius: 30px;
            }
        }

        .layout-sidebar {
            z-index: 999;
            box-shadow: 0 0 1rem rgba(0,0,0,.15);
            transform: translateX(-100%);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
            }
        }

        .layout-search {
            .search-container {
                width: 75vw;
            }
        }
    }
}

@media screen and (max-width: $phoneBreakpoint) {
    .layout-wrapper {
        .layout-topbar {
            .topbar-profile-menu {
                > li {
                    position: static;

                    > ul {
                        position: fixed;
                        top: 7.125rem;
                        left: 0;
                        width: 100%;
                        right: auto;
                    }
                }
            }
        }
    }
}
