@import '../_variables';

$bodyBgColor:#eaeff2;
$footerBgColor:#dee0e3;
$appNameTextColor:#ffffff;
$searchInputBgColor:#f5f8f9;
$searchInputBorderColor:#f5f8f9;
$searchInputFocusBorderColor:#a8b4be;
$menuItemActiveTextColor:#ffffff;
$cardBgColor:#f7f9fa;