<div class="layout-topbar">
    <div class="layout-topbar-left">
        <a class="app-name" href="/">
            <img alt="main logo" [src]="'assets/layout/images/logo-' + (colorScheme === 'white' ? 'dark' : 'white') + '.png'" class="app-logo">
            <span>Verona</span>
        </a>

        <a href="#" class="menu-button" (click)="appLayout.onMenuButtonClick($event)">
            <div class="menu-button-icon"></div>
        </a>

        <ul class="layout-topbar-main-menu">
            <li>
                <a [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}"
                    routerLinkActive="topbar-active-menuitem-routerlink">Sales
                    <span class="active-bottom"></span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/analytics']" routerLinkActive="topbar-active-menuitem-routerlink">Analytics
                    <span class="active-bottom"></span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/blocks']" routerLinkActive="topbar-active-menuitem-routerlink">Prime Blocks
                    <span class="active-bottom"></span>
                </a>
            </li>
            <li app-topmenu *ngFor="let item of menu; let i = index;" [item]="item" [index]="i" [root]="true"
                class="layout-topbar-menu" (click)="appLayout.onTopbarMenuClick()"></li>
        </ul>
    </div>
    <div class="layout-topbar-right">
        <ul class="layout-topbar-actions">
            <li #searchItem class="search-item" [ngClass]="{'active-topmenuitem': appLayout.search}">
                <a href="#" tabindex="0" (click)="appLayout.onTopbarItemClick($event,searchItem); searchFocus($event)">
                    <i class="pi pi-search"></i>
                </a>

                <div class="search-input-wrapper">
                    <span class="p-input-icon-right">
                        <input #input1 type="text" pInputText placeholder="Type your keywords"
                            (click)="appLayout.searchClick = true;" autofocus />
                        <i class="pi pi-search"></i>
                    </span>
                </div>

                <ul class="fadeInDown">
                    <div class="search-input-wrapper p-fluid" style="width: 100%">
                        <span class="p-input-icon-right">
                            <input #input2 type="text" pInputText placeholder="Type your keywords"
                                (click)="appLayout.searchClick = true;" autofocus />
                            <i class="pi pi-search"></i>
                        </span>
                    </div>
                </ul>
            </li>





            <li #profile class="profile-item">
                <div class="profile-container">
                    <a href="#">GR</a>
                    <div class="name-container">
                        <span class="name">Gene Russell</span>
                        <span class="job">Developer</span>
                    </div>
                </div>
                <a tabindex="0" pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
                    <ul
                        class="list-none p-3 m-0 border-round shadow-2 hidden sticky surface-overlay  origin-top w-full sm:w-19rem mt-2 left-0 top-auto">
                        <li>
                            <a pRipple
                                class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer">
                                <i class="pi pi-shopping-cart mr-3"></i>
                                <span class="flex flex-column">
                                    <span class="font-semibold">New Order</span>
                                    <span class="text-color-secondary">You have <strong>3</strong> new orders.</span>
                                </span>
                            </a>
                            <a pRipple
                                class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer">
                                <i class="pi pi-check-square mr-3"></i>
                                <span class="flex flex-column">
                                    <span class="font-semibold">Withdrawn Completed</span>
                                    <span class="text-color-secondary">Funds are on their way.</span>
                                </span>
                            </a>
                            <a pRipple
                                class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer">
                                <i class="pi pi-chart-line mr-3"></i>
                                <span class="flex flex-column">
                                    <span class="font-semibold">Monthly Reports</span>
                                    <span class="text-color-secondary">Monthly Reports are ready.</span>
                                </span>
                            </a>
                        </li>

                    </ul>
                </a>
            </li>

        </ul>
    </div>
</div>
