$primaryColor: #C74B95;
$primaryLightColor: #e9b7d5 !default;
$primaryDarkColor: #b34486 !default;
$primaryDarkerColor: #9f3c77 !default;
$primaryTextColor: #ffffff;

$highlightBg: #f9edf4;
$highlightTextColor: $primaryDarkerColor;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
