<div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center"
    style="background: linear-gradient(147.38deg, #FFFFFF 0%, #86A8C0 100%);">
    <div class="px-5 min-h-screen flex justify-content-center align-items-center">
        <div class="border-1 surface-border surface-card border-round shadow-2">
            <div class="p-5 flex flex-column justify-content-center">
                <div class="text-900 text-xl font-bold mb-2">NOT FOUND</div>
                <span class="text-600 font-medium">Looks like you are lost. You may try these or go back to <span
                        class="font-bold">dashboard.</span>
                    <div class="flex flex-column">
                        <div class="flex align-items-center justify-content-between direction-button direction-button-1 mb-3 py-2 m cursor-pointer hover:border-yellow-300 bg-white-500 hover:bg-yellow-100 border-round p-2"
                            [routerLink]="['/utilities/widgets']">
                            <div class="flex align-items-center justify-content-start">
                               
                                <div class="ml-3">
                                    <span class="font-bold block line-height-3">Widgets</span>
                                    <span class="subtext block line-height-3">Create your own Verona</span>
                                </div>
                            </div>
                            <i class="pi pi-chevron-right subtext"></i>
                        </div>
                        <div class="flex align-items-center justify-content-between direction-button direction-button-2 mb-6 py-2 cursor-pointer hover:border-greeen-900 bg-white-500 hover:bg-green-100 border-round p-2"
                            [routerLink]="['/pages/crud']">
                            <div class="flex align-items-center justify-content-start">
                                
                                <div class="ml-3">
                                    <span class="font-bold block line-height-3">Crud</span>
                                    <span class="subtext block line-height-3">Data heavy operations</span>
                                </div>
                            </div>
                            <i class="pi pi-chevron-right subtext"></i>
                        </div>
                        <button type="button" pButton label="Go to Dashboard" [routerLink]="['/']"></button>
                    </div>