$primaryColor: #E8AB4F;
$primaryLightColor: #f6ddb9 !default;
$primaryDarkColor: #d19a47 !default;
$primaryDarkerColor: #ba893f !default;
$primaryTextColor: #162a41;

$highlightBg: rgba($primaryColor,0.15);
$highlightTextColor: $primaryLightColor;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
