$primaryColor: #896FF4;
$primaryLightColor: #d0c5fb !default;
$primaryDarkColor: #7b64dc !default;
$primaryDarkerColor: #6e59c3 !default;
$primaryTextColor: #ffffff;

$highlightBg: #f3f1fe;
$highlightTextColor: $primaryDarkerColor;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
