@import './_footer_common';

.layout-footer {
    background-color: transparent;

    .footer-left {
        color: var(--v-footer-text-color);
    }

    .footer-right {
        color: var(--v-footer-text-color);
    }
}

