@import './_footer_common';

.layout-footer {
    background-color: transparent;

    .footer-left {
        color: $footerTextColor;
    }

    .footer-right {
        color: $footerTextColor;
    }
}

