$topbarLeftBgColor:#5d4279;
$topbarRightBgColor:#5d4279;
$menuBgColor:#72598d;
$menuItemTextColor:#ede0ed;
$menuItemHoverBgColor:#9475b5;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#7d6793;
$menuButtonHoverBgColor:#4a3460;
$menuButtonActiveBgColor:#72598d;
$topbarMenuItemBadgeBgColor:#c76a6a;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
