$topbarLeftBgColor:#302b63;
$topbarRightBgColor:#201B4C;
$menuBgColor:#24243e;
$menuItemTextColor:#afafc0;
$menuItemHoverBgColor:#5952A2;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#595582;
$menuButtonHoverBgColor:#26224f;
$menuButtonActiveBgColor:#24243e;
$topbarMenuItemBadgeBgColor:#1CA5AB;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
