$bodyBg: linear-gradient(147.38deg, #0C1D30 0%, #394E66 100%);

//menu
$sidebarBorder:1px solid #383838;
$appNameColor:rgba(255,255,255,.87);
$menuSeparatorBorder: 1px solid #383838;
$menuitemRootTextColor: rgba(255,255,255,.60);
$menuitemTextColor: rgba(255,255,255,.87);
$menuitemHoverBg: rgba(255,255,255,.03);
$menuitemActiveBg: #2b2b2b;
$menuitemTextActiveColor: #ffffff;
$menuitemFocusShadow: 0 0 0 1px #BBDEFB;

//topbar
$topbarBottomBorder: 1px solid transparent !default;
$topbarTextColor: rgba(255,255,255,.87) !default;
//$topbarIconBg: transparent !default;
$topbarIconHoverBg: rgba(255,255,255,.03) !default;

//footer
$footerBorder: 1px solid transparent !default;

@import '../../sass/layout/_layout_dark';
