$topbarLeftBgColor:#7474BF;
$topbarRightBgColor:#348AC7;
$menuBgColor:#205076;
$menuItemTextColor:#CFDDF2;
$menuItemHoverBgColor:#DBB021;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#243D56;
$menuButtonHoverBgColor:#192a3c;
$menuButtonActiveBgColor:#205076;
$topbarMenuItemBadgeBgColor:#DBB021;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
