$bodyBg: linear-gradient(147.38deg, #9E768F 0%, #656C98 100%);

//menu
$menuButtonMobileBg: linear-gradient(147.38deg, #9E768F 0%, #656C98 100%);

$menuitemRootTextColor: #6c757d;
$menuitemTextColor: #495057;
$menuitemHoverBg: #e9ecef;
$menuitemActiveBg: #ffffff;
$menuitemTextActiveColor:#495057;
$menuitemFocusShadow: 0 0 0 0.2rem rgba(255,255,255,0.1);

//topbar
$topbarMenuTextColor: rgba(245, 247, 250, 0.7);
$topbarMenuTextActiveColor: rgba(245, 247, 250, 1);
$topbarTextColor: rgba(255, 255, 255, 1);

$topbarBottomBorder: 1px solid #dee2e6;
//$topbarIconBg: #f8f9fa !default;
$topbarIconHoverBg: #e9ecef;

//footer
$footerTextColor: rgba(255, 255, 255, 1) !default;

@import '../../sass/layout/_layout_light';
