$topbarLeftBgColor:#427976;
$topbarRightBgColor:#427976;
$menuBgColor:#599592;
$menuItemTextColor:#f0f7f7;
$menuItemHoverBgColor:#67c4bf;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#679391;
$menuButtonHoverBgColor:#34605e;
$menuButtonActiveBgColor:#599592;
$topbarMenuItemBadgeBgColor:#c46767;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
