$topbarLeftBgColor:#2461cc;
$topbarRightBgColor:#2461cc;
$menuBgColor:#557ce2;
$menuItemTextColor:#bfd0fc;
$menuItemHoverBgColor:#80a1f8;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#4f80d6;
$menuButtonHoverBgColor:#1c4da3;
$menuButtonActiveBgColor:#557ce2;
$topbarMenuItemBadgeBgColor:#f88080;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
