$topbarLeftBgColor:#614385;
$topbarRightBgColor:#516395;
$menuBgColor:#78589e;
$menuItemTextColor:#e9e0f4;
$menuItemHoverBgColor:#9274b5;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#80689d;
$menuButtonHoverBgColor:#4d356a;
$menuButtonActiveBgColor:#78589e;
$topbarMenuItemBadgeBgColor:#61a4c4;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
