$topbarLeftBgColor:#734b6d;
$topbarRightBgColor:#42275a;
$menuBgColor:#714a6c;
$menuItemTextColor:#ede1eb;
$menuItemHoverBgColor:#a97ca2;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#8f6e8a;
$menuButtonHoverBgColor:#5c3c57;
$menuButtonActiveBgColor:#714a6c;
$topbarMenuItemBadgeBgColor:#5b72a4;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
