$topbarLeftBgColor:#7474BF;
$topbarRightBgColor:#348AC7;
$menuBgColor:#205076;
$menuItemTextColor:#CFDDF2;
$menuItemHoverBgColor:#DBB021;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#8f8fcb;
$menuButtonHoverBgColor:#5c5c98;
$menuButtonActiveBgColor:#205076;
$topbarMenuItemBadgeBgColor:#DBB021;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
