$bodyBg: linear-gradient(147.38deg, #FFFFFF 0%, #86A8C0 100%);

//menu
$menuButtonMobileBg: linear-gradient(147.38deg, #FFFFFF 0%, #86A8C0 100%);

$menuitemRootTextColor: #6c757d;
$menuitemTextColor: #495057;
$menuitemHoverBg: #e9ecef;
$menuitemActiveBg: #ffffff;
$menuitemTextActiveColor:#495057;
$menuitemFocusShadow: 0 0 0 0.2rem rgba(255,255,255,0.1);

//topbar
$topbarMenuTextColor: rgba(123, 135, 148, 1);
$topbarMenuTextActiveColor: rgba(62, 76, 89, 1);
$topbarTextColor: rgba(62, 76, 89, 1);

$topbarBottomBorder: 1px solid #dee2e6;
//$topbarIconBg: #f8f9fa !default;
$topbarIconHoverBg: #e9ecef !default;

//footer
$footerTextColor: rgba(62, 76, 89, 1) !default;

@import '../../sass/layout/_layout_light';
