$bodyBg: linear-gradient(147.38deg, #4C96B6 0%, #19496C 100%);

//menu
$sidebarBorder:0 none;
$appNameColor:#495057;
$menuSeparatorBorder: 1px solid #dee2e6;
$menuitemRootTextColor: rgba(255,255,255,0.7);
$menuitemTextColor: rgba(255,255,255,0.84);
$menuitemHoverBg: rgba(255,255,255,0.1);
$menuitemActiveBg: #ffffff;
$menuitemTextActiveColor:#495057;
$menuitemFocusShadow: 0 0 0 0.2rem rgba(255,255,255,0.1);

//topbar
$topbarBottomBorder: 1px solid #dee2e6 !default;
$topbarTextColor: #495057 !default;
//$topbarIconBg: #f8f9fa !default;
$topbarIconHoverBg: rgba(255,255,255,0.14) !default;

//footer
//$footerBorder: 1px solid #dee2e6 !default;

@import '../../sass/layout/_layout_light';
