$topbarLeftBgColor:#136a8a;
$topbarRightBgColor:#267871;
$menuBgColor:#0d526b;
$menuItemTextColor:#daecef;
$menuItemHoverBgColor:#37a3b3;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#4287a1;
$menuButtonHoverBgColor:#0f546e;
$menuButtonActiveBgColor:#0d526b;
$topbarMenuItemBadgeBgColor:#bf4a4a;
$topbarMenuItemBadgeTextColor:#f0d1d0;

@import '../../sass/layout/_layout';
