$topbarLeftBgColor:#517fa4;
$topbarRightBgColor:#243949;
$menuBgColor:#1d3242;
$menuItemTextColor:#afafc0;
$menuItemHoverBgColor:#517fa4;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#7398b6;
$menuButtonHoverBgColor:#406583;
$menuButtonActiveBgColor:#1d3242;
$topbarMenuItemBadgeBgColor:#bc6c6c;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
