$topbarLeftBgColor:#1e8455;
$topbarRightBgColor:#1e8455;
$menuBgColor:#32b67a;
$menuItemTextColor:#eff7f2;
$menuItemHoverBgColor:#49d291;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#4a9c76;
$menuButtonHoverBgColor:#186944;
$menuButtonActiveBgColor:#32b67a;
$topbarMenuItemBadgeBgColor:#d26149;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
