$topbarLeftBgColor:#04838f;
$topbarRightBgColor:#04838f;
$menuBgColor:#2ab1be;
$menuItemTextColor:#d8ecee;
$menuItemHoverBgColor:#68cdd7;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#369ba5;
$menuButtonHoverBgColor:#036872;
$menuButtonActiveBgColor:#2ab1be;
$topbarMenuItemBadgeBgColor:#d76868;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
