$topbarLeftBgColor:#3b3b48;
$topbarRightBgColor:#3b3b48;
$menuBgColor:#525262;
$menuItemTextColor:#d1d1e4;
$menuItemHoverBgColor:#6a6a7d;
$menuItemHoverTextColor:#d1d1e4;
$menuButtonBgColor:#62626c;
$menuButtonHoverBgColor:#2f2f39;
$menuButtonActiveBgColor:#525262;
$topbarMenuItemBadgeBgColor:#e96d66;
$topbarMenuItemBadgeTextColor:#f0d1d0;

@import '../../sass/layout/_layout';
