$topbarLeftBgColor:#79425a;
$topbarRightBgColor:#79425a;
$menuBgColor:#935b74;
$menuItemTextColor:#edd8e2;
$menuItemHoverBgColor:#aa768e;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#93677a;
$menuButtonHoverBgColor:#603448;
$menuButtonActiveBgColor:#935b74;
$topbarMenuItemBadgeBgColor:#7684aa;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
