$topbarLeftBgColor:#00cdac;
$topbarRightBgColor:#02aab0;
$menuBgColor:#00979d;
$menuItemTextColor:#e3f0ee;
$menuItemHoverBgColor:#4ddbc4;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#32d7bc;
$menuButtonHoverBgColor:#00a489;
$menuButtonActiveBgColor:#00979d;
$topbarMenuItemBadgeBgColor:#d86c6c;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
