$topbarLeftBgColor:#37474f;
$topbarRightBgColor:#37474f;
$menuBgColor:#546e7a;
$menuItemTextColor:#f0f7f7;
$menuItemHoverBgColor:#78909c;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#5e6b72;
$menuButtonHoverBgColor:#2c383f;
$menuButtonActiveBgColor:#546e7a;
$topbarMenuItemBadgeBgColor:#b25f5f;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
