$topbarLeftBgColor:#3a6186;
$topbarRightBgColor:#89253e;
$menuBgColor:#21395C;
$menuItemTextColor:#afafc0;
$menuItemHoverBgColor:#2A88AA;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#61809e;
$menuButtonHoverBgColor:#2e4d6b;
$menuButtonActiveBgColor:#21395C;
$topbarMenuItemBadgeBgColor:#2A88AA;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
