$bodyBg: linear-gradient(147.38deg, #0C1D30 0%, #394E66 100%);

//menu
$menuButtonMobileBg: linear-gradient(147.38deg, #0C1D30 0%, #394E66 100%);

$menuitemRootTextColor: rgba(255,255,255,.60);
$menuitemTextColor: rgba(255,255,255,.87);
$menuitemHoverBg: rgba(255,255,255,.03);
$menuitemActiveBg: #2b2b2b;
$menuitemTextActiveColor: #ffffff;
$menuitemFocusShadow: 0 0 0 1px #BBDEFB;

//topbar
$topbarMenuTextColor: rgba(245, 247, 250, 0.7);
$topbarMenuTextActiveColor: rgba(245, 247, 250, 1);
$topbarTextColor: rgba(255, 255, 255, 1);

$topbarBottomBorder: 1px solid transparent;
//$topbarIconBg: transparent !default;
$topbarIconHoverBg: rgba(255,255,255,.03);

//footer
$footerTextColor: rgba(255, 255, 255, 1) !default;

@import '../../sass/layout/_layout_dark';
