$topbarLeftBgColor:#7b4397;
$topbarRightBgColor:#b22f64;
$menuBgColor:#c13b70;
$menuItemTextColor:#f1dbe4;
$menuItemHoverBgColor:#7b4397;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#9568ab;
$menuButtonHoverBgColor:#623578;
$menuButtonActiveBgColor:#c13b70;
$topbarMenuItemBadgeBgColor:#b9235f;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
