$bodyBg: linear-gradient(147.38deg, #9E768F 0%, #656C98 100%);

//menu
$sidebarBorder:0 none;
$appNameColor:#495057;
$menuSeparatorBorder: 1px solid #dee2e6;
$menuitemRootTextColor: #6c757d;
$menuitemTextColor: #495057;
$menuitemHoverBg: #e9ecef;
$menuitemActiveBg: #ffffff;
$menuitemTextActiveColor:#495057;
$menuitemFocusShadow: 0 0 0 0.2rem rgba(255,255,255,0.1);

//topbar
$topbarBottomBorder: 1px solid #dee2e6 !default;
$topbarTextColor: #495057 !default;
//$topbarIconBg: #f8f9fa !default;
$topbarIconHoverBg: #e9ecef !default;

//footer
$footerBorder: 1px solid #dee2e6 !default;

@import '../../sass/layout/_layout_light';
