$primaryColor: #FDDD68;
$primaryLightColor: #fef1c3 !default;
$primaryDarkColor: #e4c75e !default;
$primaryDarkerColor: #cab153 !default;
$primaryTextColor: #162a41;

$highlightBg: rgba($primaryColor,0.15);
$highlightTextColor: $primaryLightColor;

@import '../_variables';
@import '../../designer/_components';
@import '../_extensions';
