<div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center" style="background: linear-gradient(147.38deg, #FFFFFF 0%, #86A8C0 100%);">
    <div class="px-5 min-h-screen flex justify-content-center align-items-center">
        <div class="border-1 surface-border surface-card py-5 px-4 md:px-5 shadow-2" style="border-radius: 14px;">
            <div class="mb-4">
                <div class="text-900 text-xl font-bold mb-2">Forgot Password</div>
                <span class="mb-4 line-height-2 text-600 font-medium">We need your email address for you can access your<br />
                account, then we’ll send a recovery mail.</span>
            </div>
            <div class="flex flex-column">
                <span class="p-input-icon-left w-full mb-4">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText class="w-full md:w-25rem" placeholder="Email Address">
                </span>
                <div class="flex flex-wrap gap-2 justify-content-between">
                    <button pButton pRipple label="Send Recovery Mail" class="flex-auto" [routerLink]="['/']"></button>
                </div>
            </div>
        </div>
    </div>
</div>
