$fontFamily: "Lato","Helvetica Neue",sans-serif;
$fontSize:13px;
$textColor:#2d353c;
$textSecondaryColor:lighten($textColor,25%);
$borderRadius:2px;
$dividerColor:#dce2e7;
$transitionDuration:.3s;

/* Predefined Colors */
$blue:#3ebaf8;
$orange:#f7cb00;
$purple:#985edb;
$pink:#f18983;
$green:#9fd037;
$black:#525262;
$amber:#f7cb00;
$secondary:#f4f4f4;
